*{
    padding: 0;
    margin: 0;
}
#header-main-div{
    width: 100vw; 
    height: 7vh;
    box-shadow: 1px 1px 5px rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
}
/* 2 sub div css */
.subbox-header{
    height: 7vh;
   
}
/* logo image div */
#subbox1-header{
    width: 50vw; 
    
}
/* menu bar side div */
#subbox2-header{
    width: 50vw; 
}
/* logo image */
#logo{
    width: 56px; 
    height: 7vh;
    margin-left: 0.5rem;
    float: right;
}

#menu-bar{
    width: 30vw;
    height: 7vh;
    list-style-type: none;
    color: rgb(14, 77, 106);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    font-size: 100%;
    float: right;
}
#menu-bar li{
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}
#menu-bar li:hover{
    border-bottom:3px solid rgb(15, 147, 184);
}
#menu-bar li:active{
    border-bottom:3px solid rgb(17, 0, 255);
   
}
/* -------------responsive header----------------- */

@media only screen and (max-width: 600px) {
   
    #menu-bar{
        width: 20vw;
        display: inline-block;
        border-radius: 3px;
        box-shadow: 1px 1px 5px rgb(167, 167, 167);
        height: auto;
        flex-direction: column;
        background-color: white;
        font-size: 100%;
       
        
    }
   
    
    #menu-bar li{
        align-self: flex-start;
        margin: auto;
        text-align: center;
        padding-top: 5px;
        display: block;
       
    }
   

    #logo{
        
        float: left;
    }


  }
